{% extends "base.html" %}
{% block content %}
<div class="card" style="max-width:480px;margin:0 auto;">
  <h2 style="margin:0 0 10px 0;">Signup</h2>
  <form method="post" action="/signup">
    <label>Full name</label>
    <input name="full_name" type="text" required />

    <label>Email</label>
    <input name="email" type="email" required />

    <label>Password</label>
    <input name="password" type="password" minlength="6" required />

    <button class="btn" type="submit">Create account</button>
    <a class="btn2" href="/login">I already have an account</a>
  </form>
</div>
{% endblock %}
